<div class="wrap-div">
  <div class="mat-elevation-z8">
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
    <table mat-table class="full-width-table" [dataSource]='dataSourceLib' matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="libraryName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.libraryName}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-raised-button color="primary" (click)='toggle()'>Primary</button>
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="container">
      <p *ngIf="condition">
        Привет мир
      </p>
      <div *ngIf="!condition">
        <ul *ngFor='let number of numbers'>
          <li>{{number}}</li>
        </ul>
        Пока мир
      </div>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </div>
</div>